.ticket-widget,.ticket-widget-float {
	background-color: #9ec4f2;
	width: 100%;
	padding: 2px 3px;
    margin-bottom: 4px;
	position: relative;
    border-radius: 4px;
}

.ticket-widget {
	max-height: 120px;
}

.ticket-widget-float {
	height: 120px;
}

.ticket-detail-selected {
	background-color: peachpuff;
}

.ticket-widget-float {
	float: left;
}

.ticket-widget-section-one, .ticket-widget-section-one-float {
	max-height: 60px;
    overflow: hidden;
    font-weight: bold;
	-ms-hyphens: auto;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
}

.ticket-widget-section-one-float {
	height: 60px;
}

.ticket-widget-section-two, .ticket-widget-section-two-float {
	max-height: 25px;
}

.ticket-widget-section-two-float {
	height: 25px;
}

.ticket-widget-section-three {
	max-height: 35px;
}

.ticket-widget-section-three-float {
	height: 35px;
	position: absolute;
	bottom: 0;
}

.ticket-avatar {
	float: right;
	margin: 0 0 0 4px;
}

.ticket-single-decorations {
}

.ticket-single-decorations-float {
    position: absolute;
    bottom: 0;
    width: max-content;
}

.ticket-single-decorations-glyph {
	margin: 0 4px 0 4px;
	float: left;
}

/*.ticket-single-decorations-glyph span {
	color: #777777;
}*/

.ticket-single-decorations-glyph span:hover {
	color: #f07511;
}

.board-column .ticket-single-tags {
    bottom: 35px;
}

.ticket-tag {
	border-radius: 6px;
	background-color: #f0ad4e;
	padding: 1px 3px;
	margin: 3px 3px 2px 0;
}

#ticketsearch-user_search .checkbox {
	float: left;
	margin-top: 10px;
	/* !!! TODO: This is a KLUDGE, LESS os causing the first to be different */
	margin-right: 30px;
	height: 40px;
}

.ticket-avatar-hide {
	display: none;
}

.ticket-detail-opaque {
	opacity: 0.5;
}

ul.ticket-view-ajax {
	list-style-type: none;
	list-style-position: outside;
	display: block;
	padding-left: 0;
}

.ticket-view-ajax li {
	display: list-item;
	list-style-type: none;
	list-style-position: outside;
}

.ticket-view-ajax li span.label {
	display: block;
	color: #000;
	font-size: 100%;
	padding-left: 0;
	text-align: left;
}

.ticket-view-ajax li span.data {
	display: inline-block;
	font-size: 100%;
	padding-bottom: 10px;
}

.carousel-caption {
	color: #000;
	text-shadow: none;
	position: static;
	border-radius: 6px;
	background-color: #f0ad4e;
	padding: 1px 4px;
	margin: 0;
}

#ticketSearchClear-text {
	position: absolute;
	right: 20px;
	top: 72px;
	font-size: 14px;
	cursor: pointer;
	color: #ccc;
}

#ticketSearchClear-fromdate {
	position: absolute;
	right: 20px;
	top: 188px;
	font-size: 14px;
	cursor: pointer;
	color: #ccc;
}

#ticketSearchClear-todate {
	position: absolute;
	right: 20px;
	top: 262px;
	font-size: 14px;
	cursor: pointer;
	color: #ccc;
}

.ticket-single-date {
	margin-bottom: 5px;
	text-align: left;
}

.ticket-vote {
    font-size: 150%;
    font-weight: bold;
    padding-right: 4px;
    line-height: 95%;
    text-align: center;
}

.ticket-vote-plus {
    color: #a32d00;
}

.ticket-vote-minus {
    color: dimgrey;
}

#hide-search-option-button {
	margin-bottom: 15px;
}

.ticketLargeModalText {
	font-size: xx-large;
}
