.board-column {
    min-height: 204px;
    background-color: #eee;
    border-style: solid;
    border-color: #ddd;
    border-width: 2px;
    margin: 0 2px;
    padding: 0 3px;
}

.board-column-receive {
    min-height: 204px;
    background-color: #eee;
    border-style: dashed;
    border-color: red;
    border-width: 2px;
    margin: 0 2px;
    padding: 0 3px;
}

.board-column-title {
    padding-left: 5px;
    padding-right: 5px;
    /* These three settings can be accomplished with the Bootstrap Mixin text-overflow*/
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}