.ticket-widget, .ticket-widget-float {
    background-color: #9ec4f2;
    height: 200px;
    padding: 2px 3px;
    margin: 4px 0 4px 0;
    /* These three settings can be accomplished with the Bootstrap Mixin text-overflow*/
    overflow: hidden;
    text-overflow: ellipsis;
    /*white-space: nowrap;*/
}

.ticket-widget-float {
    float: left;
}

.ticket-avatar {
    text-align:right;
    float: left;
    margin: 0 4px 0 0;
}