.menu-avatar-li {
	padding-top: 6px;
	margin-right: 1px;
}

.menu-avatar-a {
	padding: 0 0 0 0 !important;
}

/** Todo: !!!### REPLACE THIS IN THE VIEWS WITH THE BOOTSTRAP VARIANT###!!!
 * Bootstrap uses clearfix which needs a CSS compiler
 */
.clear-both {
	clear: both;
}

/* ### BOOT STRAP OVERRIDES ### */
	/* makes Bootstrap Menus dropdown on Hover */
ul.nav li.dropdown:hover > ul.dropdown-menu {
	display: block;
}

/* override dropdown menu width */
.dropdown-menu {
	min-width: 80px;
}

ul.ticket-sorter {
	padding-left: 15px;
	margin-top: 1px;
	margin-bottom: 0;
}

.ticket-sorter li {
	display: inline-block;
    margin-bottom: 4px;
}

.apc-layout-toggle-button {
	margin: 2px;
	font-size: 250%;
}

.apc-layout-toggle-button:hover {
	color: #003eff;
}

/* Modal Display Problem, everything remains grayed out, backdrop color
see: http://stackoverflow.com/questions/10636667/bootstrap-modal-appearing-under-background
*/
.modal {
	background-color: rgba(0, 0, 0, 0.75);
}


.apc-modal-header {
	margin-top: 0;
	margin-bottom: 0;
    float: left;
}

.collapse.width {
	height: auto;
	-webkit-transition: width 0.35s ease;
	-moz-transition: width 0.35s ease;
	-o-transition: width 0.35s ease;
	transition: width 0.35s ease;
}

.apc-navbar-brand,
.apc-navbar-brand:link {
	color: #9d9d9d;
    text-decoration: none;
}

.apc-navbar-brand:hover,
.apc-navbar-brand:active,
.apc-navbar-brand:visited
{
    color: #fff;
    background-color: transparent;
    text-decoration: none;
}

#apc-board-selector:hover > ul.dropdown-menu {
      display: block;
}

.blame-left, .blame-right {
    font-style: italic;
    color: #606060;
}

.blame-left {
    margin-right: 5px;
}

.blame-right {
    margin-left: 5px;
}

.apc-btn-move {
	color: #101010;
	background-color: #878787;
	border-color: #707070;
}

.apc-modal-move-btn {
	margin-bottom: 8px;
}
.apc-modal-move-btn-decoration {
	margin-right: 9px;
}