.board-column {
    width: 200px;
    min-height: 200px;
    background-color: lightgray;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    margin: 10px;
    padding: 5px;
    float: left;
}

/*.ticket {
    width: 188px;
    height: 100px;
    background-color: #fff;
    border-style: solid;
    border-color: blue;
    border-width: 1px;
    padding: 5px;
    margin-bottom: 4px;
    float: left;
} */

.ticket-widget {
    background-color: #cdebff;
    width: 180px;
    height: 176px;
    padding: 4px;
    margin: 8px 4px;
}

.ticket-avatar {
    text-align:right;
    float: left;
    margin: 0 4px 0 0;
}

.clear-both {
    clear: both;
}