.board-column {
    width: 200px;
    min-height: 230px;
    background-color: lightgray;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    margin: 10px;
    padding: 5px;
    float: left;
}

.ticket-widget, .ticket-widget-float {
    background-color: #cdebff;
    width: 180px;
    height: 220px;
    padding: 4px;
    margin: 8px 4px;
}

.ticket-widget-float {
    float: left;
}

.ticket-avatar {
    text-align:right;
    float: left;
    margin: 0 4px 0 0;
}

.menu-avatar-li {
    padding-top: 6px;
}

.menu-avatar-a {
    padding: 0 0 0 0 !important;
}


.clear-both {
    clear: both;
}

/* ### BOOT STRAP OVERRIDES ### */

/* makes Bootstrap Menus dropdown on Hover */
ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;
}

/* override dropdown menu width */
.dropdown-menu {
    min-width: 80px;
}